/* The default heading color, and actual heading colors of
most major headers. */
$phosphor-green: rgb(171, 221, 171);
$phosphor-green-light: rgb(180, 220, 190);
$phosphor-greener: rgb(146, 234, 181);

/* nav */
$phosphor-yellow: rgb(239, 239, 212);
$phosphor-orange: rgb(243, 186, 125);
$darker-red: rgb(60, 6, 6, 0.7);
$transparent-black: rgb(0, 0, 0, 0.0);
$opaque-black: rgb(0, 0, 0, 1);
$bronze: rgb(158, 154, 151);
$chartreuse-light: rgb(207, 235, 180);
$chartreuse-dim: rgb(174, 205, 145);
$orange-light: rgb(220, 209, 189);
$yellow-grey: rgb(215, 222, 205);

/* footer */
$bronze-light: rgb(188, 180, 173);

