/* The default heading color, and actual heading colors of
most major headers. */
$phosphor-green: rgb(171, 221, 171);
$phosphor-green-light: rgb(180, 220, 190);
$phosphor-greener: rgb(146, 234, 181);

/* nav */
$phosphor-yellow: rgb(239, 239, 212);
$phosphor-blue-light: rgb(190, 205, 255);
$darker-red: rgb(60, 6, 6, 0.7);
$light-blue-grey: rgb(175, 175, 230);
$blue-grey: rgb(153, 153, 204);
$medium-dark-patina-green: rgb(16, 106, 92, 0.7);
$transparent-black: rgb(0, 0, 0, 0.0);
$opaque-black: rgb(0, 0, 0, 1);
$red-black: rgb(40, 10, 10);
$translucent-blue: rgba(40, 24, 59, 0.79);
$bronze: rgb(158, 154, 151);
$light-chartreuse: rgb(227, 243, 182);
$orange-light: rgb(220, 209, 189);