$min-screen-width: 320px;
$native-logo-width: 1250px;
$native-separator-width: 563px;
$native-short-separator-width: 218px;
$max-main-width: 1000px;
$main-content-width: 750px;
$standard-box-padding: 2.5% 3%;
