$phosphor-green: rgb(180, 220, 190);
$phosphor-green-dimmed: rgb(160, 210, 180);
$dark-sea-bluer-green: rgb(143, 180, 190);
$darker-red: rgb(60, 6, 6, 0.7);
$light-blue-grey: rgb(175, 175, 230);
$blue-grey: rgb(153, 153, 204);
$medium-dark-patina-green: rgb(16, 106, 92, 0.7);
$transparent-black: rgb(0, 0, 0, 0.0);
$opaque-black: rgb(0, 0, 0, 1);
$bronze: rgb(158, 154, 151);
$light-cool-yellow: rgb(193, 193, 188);
$dimmer-cool-yellow: rgb(175, 175, 160);