/* Free fonts are installed in a site directory, not downloaded from Google, for privacy. */
@font-face {
  font-family: Metamorphous;
  src: url("../fonts/metamorphous/Metamorphous-Regular.ttf");
}
@font-face {
  font-family: ABeeZee;
  src: url("../fonts/abeezee/ABeeZee-Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: ABeeZee;
  src: url("../fonts/abeezee/ABeeZee-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: Jim_Nightshade;
  src: url("../fonts/jim_nightshade/JimNightshade-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: Fondamento;
  src: url("../fonts/fondamento/Fondamento-Regular.ttf");
  font-style: normal;
}
/* Get rid of defaults that make it hard to figure out where anything's going to line up. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-position: inside;
}

/* The default heading color, and actual heading colors of
most major headers. */
/* nav */
/* footer */
/* Magenta text is never supposed to appear. If it does, find out which selector
    doesn't have a color and fix it. */
html {
  background-color: rgb(0, 0, 0);
  background-image: url("../media/images/backgrounds/robertson--night-background-red-dark.jpg");
  background-repeat: repeat;
  font-family: ABeeZee, sans-serif;
  color: magenta;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(207, 235, 180);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Metamorphous, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(171, 221, 171);
  margin: 1rem;
}

body {
  /* This puts a centered black gradient that fades to transparent at the page edges on top of the tiling background image in the html selector. The gradient's primary purpose is legibility of centered text that rests on the tiling background, although it adds a bit of understated visual variation. */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, rgb(0, 0, 0)), color-stop(85%, rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0));
  min-width: 320px;
  max-width: 1250px;
  margin-top: -1rem;
  margin-left: auto;
  margin-right: auto;
}

/* header h1 puts the site title at the top of the page,
   for screenreaders. Since it rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
  font-size: xx-small;
  margin-top: 0;
  color: rgb(0, 0, 0);
}

header h2 {
  font-family: Jim_Nightshade, serif;
  font-size: 2em;
  margin-bottom: -0.5rem;
  text-align: left;
}

/* This moves 'The Weird Fiction ...' into the center of narrow screens, because it otherwise it looks off-balance instead of designed. */
@media (max-width: 479px) {
  header h2 {
    text-align: center;
  }
}
nav {
  background-color: rgba(60, 6, 6, 0.7);
  font-family: Fondamento, sans-serif;
  color: rgb(188, 180, 173);
  font-size: 1.4rem;
  border-top: 1px solid firebrick;
  border-bottom: 1px solid firebrick;
}

nav a {
  color: rgb(239, 239, 212);
}

nav a:hover {
  color: rgb(238, 232, 160);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  list-style-type: none;
  margin: 1.3rem;
}

/* 'The Night Land: The Darkening' by Kate Coady. J-Wildfire
    flame fractal. */
img.logo {
  width: 100%;
  min-width: 320px;
  max-width: 1250px;
}

figure.site-logo figcaption {
  font-family: Fondamento, sans-serif;
  font-weight: bold;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

figure.page-header-illo {
  margin-left: 3%;
  margin-right: 3%;
}

/* The page-header illo is enclosed in a figure. The figure has these
	margins to keep the frame from running right up to a narrow screen
	edge, which looks funny. */
img.framed {
  background-color: rgb(0, 0, 0);
  border-color: rgb(158, 154, 151);
  display: block;
  max-width: 100%;
  border-style: ridge;
  padding: 2.5%;
  border-width: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;
}

/* *********************************************
/       main                                   *
/********************************************* */
main {
  max-width: 750px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: ABeeZee, sans-serif;
  color: rgb(220, 209, 189);
  text-align: center;
  line-height: 1.5;
}

main p {
  text-align: left;
  margin-bottom: 1rem;
}

main h3 {
  font-size: xx-large;
}

main h3 a {
}

main h4.page-subheader {
  color: rgb(146, 234, 181);
}

main h4 {
  font-size: x-large;
}

main h4 a {
  color: rgb(207, 235, 180);
}

main h4 a:hover {
  color: rgb(239, 239, 212);
}

main h5 {
  font-size: larger;
  color: rgb(171, 221, 171);
}

main h5 a {
  color: rgb(215, 222, 205);
}

main h5 a:hover {
  color: rgb(238, 232, 160);
}

main h5.subtitle {
  color: magenta;
}

section.table-of-contents {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family: ABeeZee, sans-serif;
  color: rgb(220, 209, 189);
  text-align: center;
  line-height: 1.5;
}

.table-of-contents p {
  text-align: center;
}

img.greater-separator {
  max-width: 563px;
  width: 100%;
  height: auto;
}

img.greater-separator-reversed {
  max-width: 563px;
  width: 100%;
  height: auto;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

img.lesser-separator {
  max-width: 563px;
  width: 100%;
  height: auto;
}

img.bordered {
  background-color: rgb(0, 0, 0);
  border-color: rgb(158, 154, 151);
  display: block;
  max-width: 100%;
  border-style: ridge;
  border-width: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;
}

/* *********************************************
/       footer                                 *
/********************************************* */
footer {
  font-family: Fondamento, sans-serif;
  max-width: 750px;
  color: rgb(171, 221, 171);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

footer .note {
  color: rgb(220, 209, 189);
}

footer a {
  color: rgb(207, 235, 180);
}

::-moz-focus-outer a:hover {
  color: rgb(239, 239, 212);
}

footer .breadcrumbs {
  color: rgb(171, 221, 171);
  font-size: larger;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

footer .copyright {
  font-family: ABeeZee, sans-serif;
  color: rgb(188, 180, 173);
  text-align: center;
  font-size: small;
  padding-bottom: 2rem;
}

footer .copyright a {
  color: rgb(220, 209, 189);
}

footer .copyright a:hover {
  color: rgb(239, 239, 212);
}