@import "fonts";
@import "dimensions";
@import "reset";
@import "night-land-colors";

/* Magenta text is never supposed to appear. If it does, find out which selector
    doesn't have a color and fix it. */
html {
    background-color: $opaque-black;

    /* background-image: url('../media/images/backgrounds/fabian--night-background-darker.jpg');
    background-repeat: repeat;
    font-family: $body-font;
    color: magenta; */
    text-align: center;
}

html.plain {
    background-image: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: $white-cyan;
}

body {
    min-width: $min-screen-width;
    max-width: $native-logo-width;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
}

body#page-3 {
    background-image: url('../media/images/illustrated-works/garcia--children-of-the-hive/unknown--grey-abstract-image-suggesting-struggling-man.jpg');
}

/* header h1 puts the site title at the top of the page,
   for screenreaders. Since it rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
    font-size: xx-small;
    color: $opaque-black;

    /* position: absolute;
    left: 500px;
    top: 250px;
    z-index: -1; */
}

header h2 {
    font-family: $atmospheric-font;
    font-size: 2em;
    margin-bottom: -0.5rem;
    text-align: left;
}

@media (max-width: 479px) {
    header h2 {
        text-align: center;
    }
}

/* *********************************************
/       main                                   *
/********************************************* */
main {
    max-width: $main-content-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    font-family: $heading-font;
    color: $light-blue-grey;
    text-align: center;
    line-height: 1.5;
    background: black;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

main.bordered {
    border: 3px $bronze solid;
    padding: 1.5rem;
}

main p {
    color: $white-cyan;
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 1rem;
}

main p a {
    color: $phosphor-greener;
}

main p a:hover {
    font-weight: bold;
    font-style: italic;
    color: $phosphor-blue-light;
}

main p.centered {
    text-align: center;
}

main .set-apart {
    font-style: italic;
}

p#p2-giant-dreamt {
    position: absolute;
    z-index: 2;
    top: .1rem;
    left: 1.75rem;
}

p#p2-time-and-again {
    max-width: 90%;
    position: absolute;
    background-image: radial-gradient(#222 30%, $transparent-black);
    z-index: 2;
    bottom: 5rem;
    left: 1rem;
    padding: .75rem;
}

p#p2-in-his-dreams {
    position: absolute;
    background-image: radial-gradient(#222 30%, $transparent-black);
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
    margin-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

p#p2-in-his-dreams a {
    color: $phosphor-greener-brighter;
}

p#p3-he-felt {
    max-width: 80%;
    position: absolute;
    background-image: radial-gradient(#222 30%, $transparent-black);
    z-index: 2;
    top: 1rem;
    left: 5rem;
}

p#p3-he-was-hounded {
    max-width: 80%;
    position: absolute;
    background-image: radial-gradient(#222 30%, $transparent-black);
    z-index: 2;
    bottom: 5rem;
    left: 5rem;
}

p#p3-and-then {
    max-width: 80%;
    position: absolute;
    background-image: radial-gradient(#222 30%, $transparent-black);
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
    padding: .75rem;
}

p#p3-and-then a {
    color: $phosphor-greener-brighter;
}

main h3 {
    font-size: xx-large;
}

main h3 a {
    color: $phosphor-blue;
}

main h4.page-subheader {
    color: $phosphor-greener;
}

main h4 {
    font-size: x-large;
}

main h4 a {
    color: $powder-blue;
}

main h4 a:hover {
    color: $light-cyan;
}

main h5 {
    font-size: larger;
    color: $medium-aquamarine;
}

main h5 a {
    color: $phosphor-greener;
}

main h5 a:hover {
    color: $phosphor-blue;
}

main h5.subtitle {
    color: $medium-aquamarine;
}

main h6 {
    font-size: large;
    color: $medium-aquamarine;
}

main h6 a {
    color: $phosphor-greener;
}

main h6 a:hover {
    color: $phosphor-blue;
}

img.title-page-image {
    background-color: $opaque-black;
    border-color: $bronze;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-width: 4px;
    padding-bottom: 1.5rem;
}

img.borderless {
    background-color: $transparent-black;
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
    padding-bottom: 1.5rem;
}

img.reversed {
    transform: (scaleX(-1));
}

img.one-third-width {
    max-width: 33%;
}

/* The next two rules are the ones that take the 
    text of the preceding paragraph, and render it 
    over the long nerve ends of the vertebral part of
    the Vertebrae Lightning separator.
p.in-front {
    position: relative;
    z-index: 1;
}

img.close-margins-behind {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
    margin-top: -5rem;
    margin-bottom: -3rem;
    z-index: -1;
} */
/* *********************************************
/       footer                                 *
/********************************************* */
footer {
    font-family: $alternate-deco-font;
    max-width: $main-content-width;
    color: $light-blue-grey;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

footer .note {
    color: $grey-aqua;
}

footer a {
    color: $phosphor-blue;
}

footer a:hover {
    color: $white-cyan;
}

footer .breadcrumbs {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer .copyright {
    font-family: $body-font;
    color: $grey-aqua;
    text-align: center;
    font-size: small;
    padding-bottom: 2rem;
}

footer .copyright a {
    color: $late-twilight-green-band;
}

footer .copyright a:hover {
    color: $phosphor-blue-light;
}