@import "fonts";
@import "dimensions";
@import "reset";
@import "night-land-colors";

html {
    background-color: $opaque-black;
    background-image: url('../media/images/backgrounds/robertson--night-background-darker.jpg');
    background-repeat: repeat;
    color: $light-blue-grey;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: $white-cyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    color: $phosphor-green;
    margin: 1rem;
}

body {
    /* This puts a centered black gradient that fades to transparent at the page edges on top of the tiling background image in the html selector. The gradient's primary purpose is legibility of centered text that rests on the tiling background, although it adds a bit of understated visual variation. */
    background-image: linear-gradient(to right, $transparent-black, $opaque-black 35%, $opaque-black 65%, $transparent-black);
    min-width: $min-screen-width;
    max-width: $native-logo-width;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
}

/* header h1 puts the site title at the top of the page,
   for screenreaders. Since it rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
    font-size: xx-small;
    margin-top: 0;
    color: $opaque-black;
}

header h2 {
    font-family: $atmospheric-font;
    font-size: 2em;
    margin-bottom: -0.5rem;
    text-align: left;
}

// The usual placement of site subtitle "The Weird Fiction of William Hope Hodgson"
/* This moves 'The Weird Fiction ...' into the center of narrow screens, because it otherwise it looks off-balance instead of designed. */
@media (max-width: 479px) {
    header h2 {
        text-align: center;
    }
}

nav {
    background-color: $medium-dark-patina-green;
    font-family: $alternate-deco-font;
    color: $phosphor-blue-light;
    font-size: 1.4rem;
    border-top: 1px solid $green-turquoise;
    border-bottom: 1px solid $green-turquoise;
}

// The nav bar
nav a {
    color: $white-cyan;
}

// Keep the anchor tag from turning the nav bar menu items blue.
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// How to wrap the list on small screens.
nav ul li {
    list-style-type: none;
    margin: 1.3rem;
}

// The nav menu is a list without dots or numbers.
/* Tais Teng's The Night Land' in green and purple flame. Note that the image itself has a black background fading to transparent on it. You can't control that fade with CSS. */
img.logo {
    width: 100%;
    min-width: $min-screen-width;
    max-width: $native-logo-width;
}

/* The figcaption is the Lovecraft quote. */
figure.site-logo figcaption {
    font-family: $alternate-deco-font;
    font-weight: bold;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

figure.page-header-illo {
    margin-left: 3%;
    margin-right: 3%;
}

/* The pic is enclosed in a figure. The figure has these margins to keep the frame form
    running right up to a narrow screen edge, which looks funny. */
img.framed {
    background-color: $opaque-black;
    border-color: $bronze;
    display: block;
    max-width: 100%;
    border-style: ridge;
    padding: 2.5%;

    // This is what spaces the border away from the image.
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
}

main {
    margin-left: 6%;
    margin-right: 6%;
}

img.greater-separator {
    padding-top: .25rem;
    width: 75%;
    max-width: $native-separator-width;
}

img.greater-separator-flipped {
    padding-top: .25rem;
    width: 75%;
    max-width: $native-separator-width;
    rotate: 0 1 0 180deg;
}

section.argument,
section.exposition {
    max-width: $main-content-width;
    margin-left: auto;
    margin-right: auto;
    font-family: $heading-font;
    text-align: center;
    line-height: 1.5;
}

.argument h3,
.exposition h3 {
    font-size: xx-large;
    color: $phosphor-green;
}

.argument h4 {
    font-size: larger;
    color: $light-blue-grey;
}

/* section.exposition {
   padding-top: 1rem;
} */
.exposition h4 {
    font-size: x-large;
}

.exposition h4 a {
    font-size: x-large;
    color: $phosphor-greener;
}

.exposition h4 a:hover {
    color: $phosphor-blue;
}

.exposition ol li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0.75%;
    color: $blue-grey;
}

.exposition ol li a {
    color: $phosphor-blue-light;
}

.exposition ol li a:hover {
    color: $phosphor-blue;
}

.exposition ol.intro li {
    padding: 1.5%;
}

ol li:last-child {
    padding-bottom: 3%;
}

footer {
    font-family: $alternate-deco-font;
    max-width: $main-content-width;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

footer .breadcrumbs {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer .copyright {
    font-family: $body-font;
    color: $twilight-lichen-blue;
    text-align: center;
    font-size: small;
    padding-bottom: 2rem;
}

footer .copyright a {
    color: $late-twilight-green-band;
}

footer .copyright a:hover {
    color: $phosphor-blue;
}




 