/* Free fonts are installed in a site directory, not downloaded from Google, for privacy. */
@font-face {
    font-family: Metamorphous;
    src: url('../fonts/metamorphous/Metamorphous-Regular.ttf');
}

// Lower-level headers
@font-face {
    font-family: ABeeZee;
    src: url('../fonts/abeezee/ABeeZee-Regular.otf');
    font-style: normal;
}

// Body text.
@font-face {
    font-family: ABeeZee;
    src: url('../fonts/abeezee/ABeeZee-Italic.otf');
    font-style: italic;
}

// Site subtitle h2 ("The Weird Fiction of William Hope Hodgson")
@font-face {
    font-family: Jim_Nightshade;
    src: url('../fonts/jim_nightshade/JimNightshade-Regular.ttf');
    font-style: normal;
}

// Nav bar, menu page, and other links, including in the footers.
@font-face {
    font-family: Fondamento;
    src: url('../fonts/fondamento/Fondamento-Regular.ttf');
    font-style: normal;
}

/* scss variable names, for readability and avoiding looking up this glop
 every time I want it again. */
$heading-font: Metamorphous, Verdana, Geneva, Tahoma, sans-serif;
$alternate-deco-font: Fondamento, sans-serif;
$atmospheric-font: Jim_Nightshade, serif;
$body-font: ABeeZee, sans-serif;

// $phosphor-green: rgb(211, 238, 217);
$phosphor-green: rgb(199, 231, 206);
$late-twilight-green-band: rgb(192, 230, 245);
$phosphor-greener: rgb(162, 218, 177);
$phosphor-green-dimmer: rgb(116, 139, 149);
$light-sea-green: rgb(207, 225, 226);
$light-blue-green: rgb(171, 236, 233);
$twilight-lichen-blue: rgb(155, 176, 195);
$twilight-lichen-green: rgb(171, 205, 189);
$dark-sea-bluer-green: rgb(143, 180, 190);
$light-blue-grey: rgb(175, 175, 230);
$blue-grey: rgb(153, 153, 204);
$medium-dark-patina-green: rgb(16, 106, 92, 0.7);
$darker-red: rgb(60, 6, 6, 0.7);
$transparent-black: rgb(0, 0, 0, 0.0);
$opaque-black: rgb(0, 0, 0, 1);
$bronze: rgb(158, 154, 151);
$light-cool-yellow: rgb(193, 193, 188);
$dimmer-cool-yellow: rgb(175, 175, 160);
$min-screen-width: 320px;
$native-logo-width: 1250px;
$native-separator-width: 563px;
$native-short-separator-width: 218px;
$max-main-width: 1000px;
$main-content-width: 750px;
$standard-box-padding: 2.5% 3%;

/* Get rid of defaults that make it hard to figure out where anything's going to line up. */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    background-image: url('../media/images/backgrounds/robertson--night-background-darker.jpg');
    background-repeat: repeat;
    color: $light-blue-grey;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: cyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    color: $phosphor-green;
    margin: 1rem;
}

body {
    /* This puts a centered black gradient that fades to transparent at the page edges on top of the tiling background image in the html selector. The gradient's primary purpose is legibility of centered text that rests on the tiling background, although it adds a bit of understated visual variation. */
    background-image: linear-gradient(to right, $transparent-black, $opaque-black 35%, $opaque-black 65%, $transparent-black);
    min-width: $min-screen-width;
    max-width: $native-logo-width;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
}

/* header h1 puts the site title at the top of the page,
   for screenreaders. Since it rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
    font-size: xx-small;
    margin-top: 0;
    color: black;
}

header h2 {
    font-family: $atmospheric-font;
    font-size: 2em;
    margin-bottom: -0.5rem;
    text-align: left;
}

// The usual placement of site subtitle "The Weird Fiction of William Hope Hodgson"
/* This moves 'The Weird Fiction ...' into the center of narrow screens, because it otherwise it looks off-balance instead of designed. */
@media (max-width: 479px) {
    header h2 {
        text-align: center;
    }
}

nav {
    background-color: $medium-dark-patina-green;
    font-family: $alternate-deco-font;
    color: azure;
    font-size: 1.4rem;
    border-top: 1px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
}

// The nav bar
nav a {
    color: azure;
}

// Keep the anchor tag from turning the nav bar menu items blue.
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// How to wrap the list on small screens.
nav ul li {
    list-style-type: none;
    margin: 1.3rem;
}

// The nav menu is a list without dots or numbers.
/* Tais Teng's The Night Land' in green and purple flame. Note that the image itself has a black background fading to transparent on it. You can't control that fade with CSS. */
img.logo {
    width: 100%;
    min-width: $min-screen-width;
    max-width: $native-logo-width;
}

/* The figcaption is the Lovecraft quote. */
figure.site-logo figcaption {
    font-family: $alternate-deco-font;
    font-weight: bold;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

figure.page-header-illo {
    margin-left: 3%;
    margin-right: 3%;
}

/* The pic is enclosed in a figure. The figure has these margins to keep the frame form
    running right up to a narrow screen edge, which looks funny. */
img.framed {
    background-color: black;
    border-color: $bronze;
    display: block;
    max-width: 100%;
    border-style: ridge;
    padding: 2.5%;

    // This is what spaces the border away from the image.
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5em;
}

main {
    margin-left: 6%;
    margin-right: 6%;
}

img.greater-separator {
    padding-top: .25rem;
    width: 75%;
    max-width: $native-separator-width;
}

img.greater-separator-flipped {
    padding-top: .25rem;
    width: 75%;
    max-width: $native-separator-width;
    rotate: 0 1 0 180deg;
}

section.argument,
section.exposition {
    max-width: $main-content-width;
    margin-left: auto;
    margin-right: auto;
    font-family: $heading-font;
    text-align: center;
    line-height: 1.5;
}

.argument h3,
.exposition h3 {
    font-size: xx-large;
    color: $phosphor-green;
}

.argument h4 {
    font-size: larger;
    color: $light-blue-grey;
}

/* section.exposition {
   padding-top: 1rem;
} */
.exposition h4 {
    font-size: x-large;
}

.exposition h4 a {
    font-size: x-large;
    color: $light-sea-green;
}

.exposition ol li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0.75%;
    color: $twilight-lichen-blue;
}

.exposition ol li a {
    color: $late-twilight-green-band;
}

.exposition ol.intro li {
    padding: 1.5%;
}

ol li:last-child {
    padding-bottom: 3%;
}

footer {
    font-family: $alternate-deco-font;
    max-width: $main-content-width;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

footer .breadcrumbs {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer .copyright {
    font-family: $body-font;
    font-size: small;
    padding-bottom: 2rem;
    color: $twilight-lichen-blue;
}

footer .copyright a {
    color: $twilight-lichen-green;
}
