@import "fonts";
@import "dimensions";
@import "reset";
@import "night-land-colors";

/* Magenta text is never supposed to appear. If it does, find out which selector
    doesn't have a color and fix it. */
html {
    background-color: $opaque-black;
    background-image: url('../media/images/backgrounds/fabian--night-background-darker.jpg');
    background-repeat: repeat;
    font-family: $body-font;
    color: magenta;
    text-align: center;
}

html.plain {
    background-image: none;
}

html.rotate-background {
    background-image: url('../media/images/backgrounds/fabian--night-background-darker-rotated-90deg.jpg');
}

a {
    text-decoration: none;
}

a:hover {
    color: $white-cyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    color: $phosphor-green-light;
    margin: 1rem;
}

span.normal {
    font-style: normal;
}

body {
    /* This puts a centered black gradient that fades to transparent at the page edges on top of the tiling background image in the html selector. The gradient's primary purpose is legibility of centered text that rests on the tiling background, although it adds a bit of understated visual variation. */
    background-image: linear-gradient(to right, $transparent-black, $opaque-black 35%, $opaque-black 65%, $transparent-black);
    min-width: $min-screen-width;
    max-width: $native-logo-width;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
}

/* header h1 puts the site title at the top of the page,
   for screenreaders. Since it rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
    font-size: xx-small;
    margin-top: 0;
    color: $opaque-black;
}

header h2 {
    font-family: $atmospheric-font;
    font-size: 2em;
    margin-bottom: -0.5rem;
    text-align: left;
}

// The usual placement of site subtitle "The Weird Fiction of William Hope Hodgson"
/* This moves 'The Weird Fiction ...' into the center of narrow screens, because it otherwise it looks off-balance instead of designed. */
@media (max-width: 479px) {
    header h2 {
        text-align: center;
    }
}

nav {
    background-color: $medium-dark-patina-green;
    font-family: $alternate-deco-font;
    color: $phosphor-blue-light;
    font-size: 1.4rem;
    border-top: 1px solid $green-turquoise;
    border-bottom: 1px solid $green-turquoise;
}

// The nav bar
nav a {
    color: $white-cyan;
}

nav a:hover {
    color: $phosphor-blue;
}

// Keep the anchor tag from turning the nav bar menu items blue.
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// How to wrap the list on small screens.
nav ul li {
    list-style-type: none;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .8rem;
    padding-right: .8rem;
}

/* Tais Teng's The Night Land' in green and purple flame. 
	Note that the image itself has a black background fading to
	transparent on it. */
figure.site-logo {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

img.logo {
    width: 100%;
    min-width: $min-screen-width;
    max-width: $native-logo-width;
}

figure.site-logo figcaption {
    font-family: $alternate-deco-font;
    font-weight: bold;
    color: $silver;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

figure.page-header-illo {
    margin-left: 3%;
    margin-right: 3%;
}

/* The page-header illo is enclosed in a figure. The figure has these
	margins to keep the frame from running right up to a narrow screen
	edge, which looks funny. */
img.framed {
    background-color: $opaque-black;
    border-color: $bronze;
    display: block;
    max-width: 100%;
    border-style: ridge;
    padding: 2.5%;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

img.telescope {
    border-radius: 50%;
}

/* *********************************************
/       main                                   *
/********************************************* */
main {
    max-width: $main-content-width;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: $body-font;
    color: $light-blue-grey;
    text-align: center;
    line-height: 1.5;
}

main p {
    color: $light-grey;
    text-align: left;
    margin-bottom: 1rem;
}

main p a {
    color: $phosphor-green;
}

main p.centered {
    text-align: center;
}

main h3 {
    font-size: xx-large;
}

main h3 a {
    color: $phosphor-blue;
}

main h4.page-subheader {
    color: $phosphor-greener;
}

main h4 {
    font-size: x-large;
}

main h4 a {
    color: $powder-blue;
}

main h4 a:hover {
    color: $light-cyan;
}

main h5 {
    font-size: larger;
    color: $medium-aquamarine;
}

main h5 a {
    color: $phosphor-greener;
}

main h5 a:hover {
    color: $phosphor-blue;
}

main h5.subtitle {
    color: $medium-aquamarine;
}

main h6 {
    font-size: large;
    color: $medium-aquamarine;
}

main h6 a {
    color: $phosphor-greener;
}

main h6 a:hover {
    color: $phosphor-blue;
}

section.site-table-of-contents {
    max-width: $main-content-width;
    margin-left: auto;
    margin-right: auto;
    font-family: $body-font;
    color: $phosphor-blue-light;
    text-align: center;
    line-height: 1.5;
}

section.site-table-of-contents p {
    text-align: center;
}

section.site-table-of-contents ol,
section.site-table-of-contents ul {
    list-style: none;
}

section.site-table-of-contents ol li a,
section.site-table-of-contents ul li a {
    color: $phosphor-green;
}

section.site-table-of-contents ol li a:visited,
section.site-table-of-contents ul li a:visited {
    color: $white-cyan;
}

section.site-table-of-contents ol li a:hover,
section.site-table-of-contents ul li a:hover {
    color: $cornflower-blue;
}

section.contact-info p {
    text-align: center;
}

article p,
article ol,
article ul {
    color: $light-grey;
    text-align: left;
    margin-bottom: 1rem;
}

article ol li,
article ul li {
    margin-bottom: .65rem;
}

article blockquote,
article blockquote p {
    color: $honeydew-dim;
    text-align: left;
}

/* There is no argument section anywhere but the index page,
	so no need for this in stylesheets for other color schemes. */
.argument h4 {
    font-size: larger;
    color: $light-blue-grey;
}

ol.work-table-of-contents {
    font-family: $heading-font;
    font-size: large;
    text-align: center;
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
}

ol.work-table-of-contents li:before {
    content: 'Part ' counter(item, upper-roman);
    counter-increment: item;
}

ol.work-table-of-contents li {
    margin-top: .5rem;
}

ol.work-table-of-contents a {
    color: $phosphor-greener;
}

ul.works-list {
    padding: 0;
}

ul.works-list li {
}

ul.works-list li::marker {
    content: '';
}

img.greater-separator {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
}

img.greater-separator-reversed {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

img.lesser-separator {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
}

img.bordered {
    background-color: $opaque-black;
    border-color: $bronze;
    display: block;
    width: 98%;
    border-style: ridge;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img.borderless {
    background-color: $transparent-black;
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

/* The next two rules are the ones that take the 
    text of the preceding paragraph, and render it 
    over the long nerve ends of the vertebral part of
    the Vertebrae Lightning separator. */
p.in-front {
    position: relative;
    z-index: 1;
}

img.close-margins-behind {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
    margin-top: -5rem;
    margin-bottom: -3rem;
    z-index: -1;
}

section.interlude {
    font-style: italic;
}

/* ****** Gallery Flexbox ***************** */
div.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-between;
}

div.artist-listing {
    background-color: black;
    border: 2px solid silver;
    width: 244px;
    height: 244px;
    margin: 1px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div.artist-listing figure {
    background-color: black;
    max-width: 240px;
    max-height: 240px;
    margin: 0;
    padding: 0;
}

div.artist-listing figure img {
}

div.artist-listing figure figcaption {
}

/* *********************************************
/       footer                                 *
/********************************************* */
footer {
    font-family: $alternate-deco-font;
    max-width: $main-content-width;
    color: $light-blue-grey;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

footer .note {
    color: $grey-aqua;
}

footer a {
    color: $phosphor-blue;
}

footer a:hover {
    color: $white-cyan;
}

footer .breadcrumbs {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer .copyright {
    font-family: $body-font;
    color: $grey-aqua;
    text-align: center;
    font-size: small;
    padding-bottom: 2rem;
}

footer .copyright a {
    color: $late-twilight-green-band;
}

footer .copyright a:hover {
    color: $phosphor-blue-light;
}