@import "fonts";
@import "dimensions";
@import "reset";
@import "night-land-colors";
@import "darkening-colors";

/* Because I use some warm colors in the Red White Black theme. */
/* Magenta text is never supposed to appear. If it does, find out which selector
    doesn't have a color and fix it. */
html {
    background-color: $opaque-black;
    background-image: url('../media/images/backgrounds/robertson--night-background-darker.jpg');
    background-repeat: repeat;
    font-family: $body-font;
    color: magenta;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: $white-cyan;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    color: $orange-light;
    margin: 1rem;
}

body {
    /* This puts a centered black gradient that fades to transparent at the page edges on top of the tiling background image in the html selector. The gradient's primary purpose is legibility of centered text that rests on the tiling background, although it adds a bit of understated visual variation. */
    background-image: linear-gradient(to right, $transparent-black, $opaque-black 35%, $opaque-black 65%, $transparent-black);
    min-width: $min-screen-width;
    max-width: $native-logo-width;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
}

/* header h1 puts the site title at the top of the page,
   for screenreaders. Since it rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
    font-size: xx-small;
    margin-top: 0;
    color: $opaque-black;
}

header h2 {
    font-family: $atmospheric-font;
    font-size: 2em;
    margin-bottom: -0.5rem;
    text-align: left;
}

// The usual placement of site subtitle "The Weird Fiction of William Hope Hodgson"
/* This moves 'The Weird Fiction ...' into the center of narrow screens, because it otherwise it looks off-balance instead of designed. */
@media (max-width: 479px) {
    header h2 {
        text-align: center;
    }
}

nav {
    background-color: $medium-dark-patina-green;
    font-family: $alternate-deco-font;
    color: $phosphor-blue-light;
    font-size: 1.4rem;
    border-top: 1px solid $green-turquoise;
    border-bottom: 1px solid $green-turquoise;
}

// The nav bar
nav a {
    color: $white-cyan;
}

nav a:hover {
    color: $phosphor-blue;
}

// Keep the anchor tag from turning the nav bar menu items blue.
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// How to wrap the list on small screens.
nav ul li {
    list-style-type: none;
    margin: 1.3rem;
}

// The nav menu is a list without dots or numbers.
/* Tais Teng's The Night Land' in green and purple flame. 
	Note that the image itself has a black background fading to
	transparent on it. */
img.logo {
    width: 100%;
    min-width: $min-screen-width;
    max-width: $native-logo-width;
}

figure.site-logo figcaption {
    font-family: $alternate-deco-font;
    font-weight: bold;
    color: $silver;
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

figure.page-header-illo {
    margin-left: 3%;
    margin-right: 3%;
}

/* The page-header illo is enclosed in a figure. The figure has these
	margins to keep the frame from running right up to a narrow screen
	edge, which looks funny. */
img.framed {
    background-color: $opaque-black;
    border-color: $darker-red;
    display: block;
    max-width: 100%;
    border-style: ridge;
    padding: 2.5%;

    // This spaces the frame away from the image.
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
}

/* *********************************************
/       main                                   *
/********************************************* */
main {
    max-width: $main-content-width;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-family: $body-font;
    color: $light-blue-grey;
    text-align: center;
    line-height: 1.5;
}

main ol, ul {
    list-style-position: inside;
}

main p {
    color: $light-grey;
    text-align: left;
    margin-bottom: 1rem;
}

main p a {
    color: $phosphor-green;
}

p.centered {
    text-align: center;
}

main h3 {
    font-size: xx-large;
}

main h3 a {
    color: $phosphor-blue;
}

main h4.page-subheader {
    color: $phosphor-greener;
}

main h4 {
    font-size: x-large;
}

main h4 a {
    color: $phosphor-greener;
}

main h4 a:hover {
    color: $phosphor-blue;
}

main h5 {
    font-size: larger;
    color: $bronze-light;
}

main h5 a {
    color: $yellow-grey;
}

main h5 a:hover {
    color: $phosphor-yellower;
}

main h5.subtitle {
    color: $medium-aquamarine;
}

main h6 {
    font-size: large;
    color: $bronze-light;
}

main h6 a {
    color: $yellow-grey;
}

main h6 a:hover {
    color: $phosphor-yellower;
}

section.table-of-contents {
    max-width: $main-content-width;
    margin-left: auto;
    margin-right: auto;
    font-family: $body-font;
    text-align: center;
    line-height: 1.5;
}

.table-of-contents p {
    text-align: center;
}

/* There is no argument section anywhere but the index page,
	so no need for this in stylesheets for other color schemes. */
.argument h4 {
    font-size: larger;
    color: $light-blue-grey;
}

img.greater-separator {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
}

img.greater-separator-reversed {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

img.lesser-separator {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
}

/* Differs from a bordered image in the usual Last Redoubt
color scheme only by the border being dark red instead of bronze. */
img.bordered {
    background-color: $opaque-black;
    border-color: $darker-red;
    display: block;
    max-width: 100%;
    border-style: ridge;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img.borderless {
    background-color: $transparent-black;
    border-style: none;
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

/* The next two rules are the ones that take the 
    text of the preceding paragraph, and render it 
    over the long nerve ends of the vertebral part of
    the Vertebrae Lightning separator. */
p.in-front {
    position: relative;
    z-index: 1;
}

img.close-margins-behind {
    max-width: $native-separator-width;
    width: 100%;
    height: auto;
    margin-top: -5rem;
    margin-bottom: -3rem;
    z-index: -1;
}

/* *********************************************
/       footer                                 *
/********************************************* */
footer {
    font-family: $alternate-deco-font;
    max-width: $main-content-width;
    color: $light-blue-grey;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

footer .note {
    color: $grey-aqua;
}

footer a {
    color: $phosphor-blue;
}

footer a:hover {
    color: $white-cyan;
}

footer .breadcrumbs {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer .copyright {
    font-family: $body-font;
    color: $grey-aqua;
    text-align: center;
    font-size: small;
    padding-bottom: 2rem;
}

footer .copyright a {
    color: $late-twilight-green-band;
}

footer .copyright a:hover {
    color: $phosphor-blue-light;
}