/* Free fonts are installed in a site directory, not downloaded from Google, for privacy. */
@font-face {
    font-family: Metamorphous;
    src: url('../fonts/metamorphous/Metamorphous-Regular.ttf');
}

// Lower-level headers
@font-face {
    font-family: ABeeZee;
    src: url('../fonts/abeezee/ABeeZee-Regular.otf');
    font-style: normal;
}

// Body text.
@font-face {
    font-family: ABeeZee;
    src: url('../fonts/abeezee/ABeeZee-Italic.otf');
    font-style: italic;
}

// Body text.
@font-face {
    font-family: Jim_Nightshade;
    src: url('../fonts/jim_nightshade/JimNightshade-Regular.ttf');
    font-style: normal;
}

// Site subtitle h2 ("The Weird Fiction of William Hope Hodgson")
@font-face {
    font-family: Fondamento;
    src: url('../fonts/fondamento/Fondamento-Regular.ttf');
    font-style: normal;
}

/* scss variable names, for readability and avoiding looking up this glop
 every time I want it again. */
$heading-font: Metamorphous, Verdana, Geneva, Tahoma, sans-serif;
$alternate-deco-font: Fondamento, sans-serif;
$atmospheric-font: Jim_Nightshade, serif;
$body-font: ABeeZee, sans-serif;
$phosphor-green: rgb(180, 220, 190);
$darker-red: rgb(60, 6, 6);
$light-blue-grey: rgb(170, 170, 201);
$medium-dark-patina-green: rgb(16, 106, 92, 0.7);
$transparent-black: rgb(0, 0, 0, 0.0);
$opaque-black: rgb(0, 0, 0, 1);
$bronze: rgb(158, 154, 151);
$light-cool-yellow: rgb(193, 193, 188);
$dimmer-cool-yellow: rgb(175, 175, 160);
$min-screen-width: 320px;
$native-logo-width: 1250px;
$native-separator-width: 563px;
$text-separator-width: 330px;
$max-main-width: 1000px;
$main-content-width: 750px;
$standard-box-padding: 2.5% 3%;

/* Get rid of defaults that make it hard to figure out where anything's going to line up. */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    background-image: url('../media/images/backgrounds/robertson-night-background-darker.jpg');
    background-repeat: repeat;
    font-family: $alternate-deco-font;

    // Would normally be the body text font, but our index pages don't have any body text.
    color: $light-blue-grey;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    color: $phosphor-green;
    margin: 1rem;
}

body {
    /* This puts a centered black gradient that fades to transparent at the page edges on top of the tiling background image in the html selector. The gradient's primary purpose is legibility of centered text that rests on the tiling background, although it adds a bit of understated visual variation. */
    background-image: linear-gradient(to right, $transparent-black, $opaque-black 10%, $opaque-black 90%, $transparent-black);
    min-width: $min-screen-width;
    max-width: $native-logo-width;
    margin-top: -1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.5rem;
}

/* header h1 puts the page title at the top of the page,
   for screenreaders. Since this rarely needs to be seen,
   it's very small and colored to blend into the background. */
header h1 {
    font-size: xx-small;
    margin-top: 0;
    color: black;
}

header h2 {
    font-family: $atmospheric-font;
    font-size: 2em;
    margin-bottom: 0.35rem;
    text-align: left;
}

// The usual placement of site subtitle "The Weird Fiction of William Hope Hodgson"
/* This moves 'The Weird Fiction ...' into the center of narrow screens, because it otherwise it looks off-balance instead of designed. */
@media (max-width: 479px) {
    header h2 {
        text-align: center;
    }
}

nav {
    background-color: $medium-dark-patina-green;
    color: azure;
    font-size: 1.4rem;
    border-top: 1px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
}

// The nav bar
nav a {
    color: azure;
    text-decoration: none;
}

// Keep the anchor tag from turning the nav bar menu items blue.
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// How to wrap the list on small screens.
nav ul li {
    list-style-type: none;
    margin: 1.3rem;
}

// The nav menu is a list without dots or numbers.
/* Tais Teng's The Night Land' in green and purple flame. Note that the image itself has a black background fading to transparent on it. You can't control that fade with CSS. */
img.logo {
    width: 100%;
    min-width: $min-screen-width;
    max-width: $native-logo-width;
}

/* The figcaption on this page is 'The Last Redoubt'. */
figure.site-logo figcaption {
    font-family: $heading-font;
    color: $phosphor-green;
    font-size: 3rem;
    margin-top: -2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Martin Isitt's warrior outside the Redoubt. */
figure.site-illo {
    margin-left: 3%;
    margin-right: 3%;
}

/* The pic is enclosed in a figure. The figure has these margins to keep the frame form
    running right up to a narrow screen edge, which looks funny. */
img.bordered {
    background-color: black;
    border-color: $bronze;
    display: block;
    max-width: 100%;
    border-style: ridge;
    padding: 2.5%;

    // This is what spaces the border away from the image.
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
}

// This frames the image. A technique used for story header images too.
main {
    margin-left: 10%;
    margin-right: 10%;
}

main h3 {
    font-size: xx-large;
}

main h4 {
    font-size: x-large;
    color: aquamarine;
}

main h5 {
    font-size: larger;
    color: cadetblue;
}

main h5.subtitle {
    font-size: larger;
    color: mediumaquamarine;
}

main p {
    font-size: medium;
    font-family: $body-font;
    text-align: left;
    margin-bottom: 1.2rem;
    color: lightgrey;
}

/* We have a fair number of stories with multiple parts, but
few of the parts have subtitles. In the absence of subtitles,
this styling puts the contents on at least one line, possibly
wrapped, with the bullets spaced to land in the middle between
items. This is undesireable for stories with subtitled parts;
in that case remove out main ol display, flex-wrap, justify-content,
main ol li: first of type, and span.toc, and change list-style-type
to something numeric, to style a more normal toc. */
main ol {
    list-style-position: inside;
    list-style-type: none;
    counter-reset: item;

    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
}

main ol li:before {
    content: 'Part ' counter(item, upper-roman);
    counter-increment: item;
    margin: 1.5rem;
    line-height: 200%;

    /* Necessary to space the lines if it wraps */
}

/* main ol li:first-of-type {
    list-style-type: none;
}

span.toc {
    padding-left: 1rem;
} */
img.bordered {
    background-color: black;
    border-color: $bronze;
    display: block;
    max-width: 100%;
    border-style: ridge;
    padding: 2.5%;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 3.5em;
}

img.section-illo {
    display: block;
    max-width: 100%;
    background-color: black;
    border-color: $bronze;
    border-width: 4px;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

section.table-of-contents {
    max-width: $main-content-width;
    margin-left: auto;
    margin-right: auto;
    font-family: $heading-font;
    text-align: center;
    line-height: 1.5;
}

img.toc-ornament {
    max-width: $native-separator-width;
    padding: 1rem;
}

img.toc-ornament-reversed {
    max-width: $native-separator-width;
    padding: 1rem;
    transform: scaleX(-1);
}

img.toc-separator {
    max-width: $native-separator-width;
    padding: 1.25rem;
}

img.text-separator {
    max-width: $text-separator-width;
    padding: 1.5rem;
}

footer .breadcrumbs {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.breadcrumbs a {
    color: #aaccbb;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: darkcyan;
}

footer .copyright {
    font-family: $body-font;
    color: darkseagreen;
    text-align: center;
    font-size: small;
    padding-bottom: 2rem;
}

